.projects {
  font-family: var(--secFont);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 5em;
  font-family: var(--mainFont);
}
span {
  color: var(--lightroyalblue);
}
.cards-container {
  height: 80vh;
  overflow: scroll;
  scrollbar-width: 0px;
  overflow-x: hidden;
}
@media only screen and (max-width: 750px) {
  h1 {
    font-size: 2em;
  }
  body {
    overflow: hidden;
  }
  .card-title {
    font-size: 1em;
  }
  .card-text {
    font-size: 0.8em;
  }
}
