:root {
    --mainFont: 'Oswald', sans-serif;
    --secFont: 'Roboto Condensed', sans-serif;

    --lightroyalblue: #95a8df;
    --backblue: #3b3c4e;
    --background: #0e0c38;
    --back2: #211f61;
}
