@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-x: hidden;
}
html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: aliceblue;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
:root {
    --mainFont: "Oswald", sans-serif;
    --secFont: "Roboto Condensed", sans-serif;

    --lightroyalblue: #a2f0e7;
    --backblue: #323228;
    --background: #050504;
    --back2: #323228;
}
